.personal-page-background {
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
    opacity: 1;
    z-index: -2;
    top: 0px;
}

.columns-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height: 50vh;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        padding: 0px 5px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 0px 20px;
    margin-bottom: 50px;
    min-width: 90vw;
    width: 90%;
}

.quick-search {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.column-title {
    color: white;
    font-size: 25px !important;
    letter-spacing: -1px !important;
    text-align: center;
}

.type-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

.type-button {
    width: 40% !important;
    color: #ADFFDE;
    margin: 10px 15px;
    padding: 7px 0;
    letter-spacing: -1px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 600;
    background: #232234;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.type-button:hover {
    background: #ffadbd;
    color: #232234;
    transition: all 0.2s ease-in-out;
}

.type-button:active {
    transform: scale(0.8);
}

.nearby-places-title {
    flex-direction: row !important;
    align-items: center!important;
    justify-content: flex-start !important;
}

.nearby-arrow {
    color:white;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.welcome-title {
    width: 100% !important;
}

.welcome-title h1 {
    text-align: center !important;
    font-size: 40px !important;
    color:#ADFFDE;
    margin-bottom: 10px !important;
}

.home-content-wrapper {
    margin-top: 60px;
    padding: 0px 40px;
}

.nothing-here {
    color: #ADFFDE;
    line-height: 120% !important;
    font-weight: 600 !important;
    text-align: justify !important;
}

.nothing-image-wrapper {
    height: 150px !important;
    width: 200px !important;
    border-radius: 15px;
}

.nothing-image {
    object-fit: cover;
    height: 100%;
}

@media screen and (min-width: 760px) and (max-width:1100px) {
    
    .nothing-here {
        color: #ADFFDE;
        line-height: 120% !important;
        width: 60% !important;
        font-weight: 600 !important;
        text-align: justify !important;
        align-self: center;
    }
}


@media screen and (min-width: 1100px) {

    .columns-container {
        flex-direction: row;
        justify-content: center;
    }
    
    .column {
        align-items: flex-start !important;
        min-width: 40vw;
        width: 50%;
    }

    .cards-container {
        align-items: flex-start;
    }
    
    .quick-search {
        padding: 20px 0px;
        align-items: flex-start;
    }
    
    .quick-search-text {
        margin-left: 20px;
    }
    
    .column-title {
        text-align: left !important;
        font-size: 30px !important;
    }
    
    .type-button {
        width: 14% !important;
    }
    
    .type-button:hover {
        transform: scale(1.1);
    }
    
    .welcome-title h1 {
        text-align: left !important;
        font-size: 70px !important;
        margin-left: 20px;
    }
    
    .nothing-image-wrapper {
        margin-right: 10px !important;
    }
}